@font-face{
   font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-style:normale;
    src:local('Rubik'),
    url('../fonts/Rubik.woff') format('woff');
    display:swap;
}

@font-face{
   font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-style:normale;
    src:local('Rubik'),
    url('../fonts/Rubik.woff2') format('woff2');
    display:swap;
}

@font-face{
   font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-style:bold;
    src:local('Rubik'),
    url('../fonts/Rubik.woff') format('woff');
    display:swap;
}

@font-face{
   font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-style:bold;
    src:local('Rubik'),
    url('../fonts/Rubik.woff2') format('woff2');
    display:swap;
}

@font-face{
   font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-style:normale;
    src:local('DM Sans'),
    url('../fonts/DM Sans.woff') format('woff');
    display:swap;
}

@font-face{
   font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-style:normale;
    src:local('DM Sans'),
    url('../fonts/DM Sans.woff2') format('woff2');
    display:swap;
}

@font-face{
   font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-style:bold;
    src:local('DM Sans'),
    url('../fonts/DM Sans.woff') format('woff');
    display:swap;
}

@font-face{
   font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-style:bold;
    src:local('DM Sans'),
    url('../fonts/DM Sans.woff2') format('woff2');
    display:swap;
}