body{
    font-size:16px;
    font-weight: 400;
    color: $default;
    flex-direction: column;
    display:flex;
}

.main{
    flex-grow: 1;
    margin-bottom:40px;
}

.container{
    max-width: 1200px;
    margin:0 auto;
    padding:0 15px;
}


a{
    text-decoration:none;
    color:$default;
    font-size:16px;
    line-height: 36px;  
}

.breadcrumbs{
    text-align:center;
    &__title{
        color:#292233;
        font-size: 36px;
        @extend %rubik-400;
    }
    &__list{
        display: flex;
        align-items:center;
        justify-content: center;
    }
    &__item + .breadcrumbs__item{
        margin-left: 20px;
    }
    &__item{
        position:relative;
         &:last-child::after{
                display:none;
            }

    &::after{
       content:'';
       position: absolute;
       border-left: 3px solid #b4b8bc;
       z-index:10;
       width:2px;
       height: 14px;
       right:-13px;
       bottom:13px;
       transform: skewX(-206deg);
    }
}
    &__link{
        color:#b4b8bc;
        font-size: 14px;
        @extend %rubik-700;
    }

}
