body{
    font-size:16px;
    font-weight: 400;
    color: $default;
    flex-direction: column;
    display:flex;
}

.main{
    flex-grow: 1;
    margin-bottom:40px;
}

.container{
    max-width: 1200px;
    margin:0 auto;
    padding:0 15px;
}


a{
    text-decoration:none;
    color:$default;
    font-size:16px;
    line-height: 36px;  
}

.button{
       display:flex;
        align-items:center;
        justify-content: space-between;
        border:none;
        background-color:#a3bbc8;
        padding: 20px 30px;
}

.btn__link{
    color:#fff;
        padding-right: 50px;
        font-size:15px;
        line-height: 15px;
        @extend %rubik-700;
        text-transform: none;
}

.breadcrumbs{
    text-align:center;
    &__title{
        color:#292233;
        font-size: 36px;
        @extend %rubik-400;
        padding-bottom:10px;
    }
    &__list{
        display: flex;
        align-items:center;
        justify-content: center;
        padding-bottom:35px;
    }
    &__item + .breadcrumbs__item{
        margin-left: 20px;
    }
    &__item{
        position:relative;
         &:last-child::after{
                display:none;
            }

    &::after{
       content:'';
       position: absolute;
       width:1px;
       height: 14px;
       right:-13px;
       bottom:4px;
       background-color:#b4b8bc;
       transform: skewX(-206deg);
    }
}
    &__link{
        color:#b4b8bc;
        font-size: 14px;
        line-height: 14px;
        @extend %rubik-400;
    }

}

.shop-filter__title{
    @extend %dmsans-700;
    font-size:18px;
    color:$headertitle;
    margin-bottom:30px;
    text-transform: uppercase;
}
