$accent:#436372;
$accent2: #edf1f4;
$default:#585858;
$headertitle:#243f4d;
$subtitle:#e0e9ed;
$title:#191919;
$text:#7b7b7b;
$decor:#a3bbc8;



%poppins-700{
    font-family: 'Poppins-Bold', sans-serif;
    font-weight: 700;
}

%rubik-400{
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

%rubik-700{
    font-family: 'Rubik-Bold', sans-serif;
    font-weight: 700;
}

%dmsans-700{
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}

%dmsans-400{
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
}

%links__box{
    margin-top: -20px;
    display:flex;
    justify-content: space-evenly;
    opacity:0;
}

%link__item{
        background-color: #fff;
        border:1px solid transparent;
        width: 50px;
        height: 50px;
        border-radius:50%;
        padding: 12px;
        &:hover{
           background-color: $decor;
           outline:none;
           path{
               fill:#fff;
           } 
        }
    


}

%link-btn{
        color:#fff;
        font-size:15px;
        line-height: 15px;
        @extend %rubik-400;
        text-transform: none;
        display:block;
        height:60px;
        max-width: 200px;
        width:100%;
        text-align:left;
        border:none;
        background-color:$decor;
        padding:20px 15px;
        position:relative;
        outline:none;
        span{
            position:absolute;
            text-align:right;
            right:10px;
            top: 23px;
        }
    }