$accent:#436372;
$accent2: #edf1f4;
$default:#585858;
$headertitle:#243f4d;
$subtitle:#e0e9ed;
$title:#191919;
$text:#7b7b7b;
$decor:#a3bbc8;


%rubik-400{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

%rubik-700{
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

%dmsans-700{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

%dmsans-400{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

%links__box{
    margin-top: -20px;
    display:flex;
    justify-content: space-evenly;
    opacity:0;
}

%link__item{
        background-color: #fff;
        border:1px solid transparent;
        width: 50px;
        height: 50px;
        border-radius:50%;
        padding: 12px;
        &:hover{
           background-color: $decor;
           outline:none;
           path{
               fill:#fff;
           } 
        }
    


}