$accent:#436372;
$default:#585858;
$headertitle:#243f4d;
$subtitle:#e0e9ed;
$title:#191919;
$text:#7b7b7b;


%rubik-400{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

%rubik-700{
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

%dmsans-700{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

%dmsans-400{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}