.blog-pg{
    &__inner{
        display:flex;
    }
    &__content{
        margin-right: 70px;
        max-width:840px;
        width:100%;
        text-align:left;
        &-img{
            background-repeat: no-repeat;
            max-width:830px;
            height:100%;
            object-fit:cover;
            overflow:hidden;
        }
        &-title{
        font-size:36px;
        @extend %rubik-400;
        color:#000000;
        padding:40px 0;
        }
        &-text{
        color:#64727b;
        font-size:16px;
        line-height: 30px;
        @extend %rubik-400;
        max-width: 800px;
        width:100%;
        padding-bottom: 40px;
        }
        &-link__btn{
            @extend %link-btn;
            background-color:transparent;
            border:2px solid $decor;
            color:$decor;
            margin-bottom: 50px;
            &-svg__btn{
                path{
                    fill:$decor;
                }
            }
        }
    
        .articles{
        background:none;
        }

        .pagination{
            padding-top:70px;
            margin-left:0;
        }
    }

    &__aside{
        max-width:360px;
        width:100%;

        
        h3.aside-title{
        @extend %dmsans-700;
        font-size:18px;
        padding-top: 38px;
        white-space: nowrap;
        }

        .shop-filter__title-inner{
            padding-left:15px;
        }

        &-search{
            margin-bottom:65px;
        }

        &-form{
            position:relative;
        }

        &-input{
        font-size:16px;
        line-height: 43px;
        @extend %rubik-400;
        color:$headertitle;
        padding-left: 17px;
        width: 270px;
        height: 40px;
        background-color:transparent;
        cursor:pointer;
        border:2px solid $decor;
        border-radius:5px;
        position:relative;
        }
        
        &-span{
        position:absolute;
        width: 50px;
        height: 40px;
        border-radius: 5px;
        background-color:$decor; 
        right:-6px;
        padding: 10px;
        text-align: center;
        }
    }

}


.blog-bg__posts{
        padding-left: 15px;
        &-inner{
        display:flex;
        margin-bottom:25px;
        }

        &-item__info{
            max-width: 180px;
            width: 100%;
        }

.blog-bg__posts-title{
        color:#333333;
        font-size:14px;
        line-height: 24px;
        @extend %rubik-400;
        margin-left: 25px;
        padding-top: 5px;
        cursor:pointer;
        padding:0;
        }

        .articles__link{
        color:#9a9a9a;
        font-size:12px;
        line-height: 22px;
        @extend %rubik-400;
        margin-left: 25px;
        padding-bottom:7px;
        cursor:pointer; 
        }
        &-img{
            margin-top: 10px;
            width: 70px;
            height: 70px;
        }

} 
