<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/contact.min.css" />
    <title>Clee.</title>
  </head>
  <body>
    {% include('app/module/header/_header.html') %}
    <main class="main">
      {%include('app/module/section_top/_breadcrumbs-contact.html')%}
      {%include('app/module/contact/_contact.html')%}
      {%include('app/module/articles/_articles.html')%}
      {% include('app/module/partners/_partners.html') %}
 
    </main>

   {% include('app/module/footer/_footer.html')%}
  <script
      src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&libraries=&v=weekly"
      defer
    ></script>

    <script>    let map;

function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
    center: { lat:28.064784555672055, lng:  -82.29924692465886 },
    zoom: 13,
  });
}</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
  <script src="js/main.min.js"></script>
  </body>
</html>
