<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <link rel="stylesheet" href="css/index.min.css">
    <title>Clee.</title>
</head>
<body>
    {% include('app/module/header/_header.html') %}
    <main class="main">
    {% include('app/module/section-slider/__header-slider.html') %}
    {% include('app/module/homepage_reason/_reason.html') %}
    {% include('app/module/homepage_category/_category.html') %}
    {% include('app/module/homepage_light/_light.html') %}
    {% include('app/module/homepage_new/_new.html') %}
    {% include('app/module/homepage_video/_video.html') %}
    {%include('app/module/articles/_articles.html')%}
    {% include('app/module/partners/_partners.html') %}
        
               
    </main>
    {% include('app/module/footer/_footer.html') %}
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script src="jquery-3.5.1.min.js"></script>
<script src="js/main.min.js"></script>
</body>
</html>