<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <link rel="stylesheet" href="css/index.min.css">
    <title>Clee.</title>
</head>
<body>
    {% include('app/module/header/_header.html') %}
    {% include('app/module/footer/_footer.html') %}
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script src="jquery-3.5.1.min.js"></script>
<script src="js/main.min.js"></script>
</body>
</html>