<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/login.min.css" />
    <title>Clee.</title>
  </head>
  <body>
    {% include('app/module/header/_header.html') %}
    <main class="main">
      {%include('app/module/section_top/_breadcrumbs_login.html')%}
      {%include('app/module/modal_login/_modal_login.html')%}
      {% include('app/module/partners/_partners.html')%}
    </main>
    {% include('app/module/footer/_footer.html')%}
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
  <script src="js/main.min.js"></script>
</html>
