.products{
    margin-bottom:80px;
    &__menu{
        position:relative;
    }

    &__mixitup-btn{
        display:none;
        width: 30px;
        height: 24px;
        border:none;
        background-color: transparent;
        margin: 0 15px;
        justify-content: center;
        align-items:center;
        position: absolute;
        padding:0;
        right: 0;
        left: 0;
        margin: auto;
        cursor:pointer;
        top: -24px;
            .text{
            width: 31px;
            height: 2px;
            color: $title;
            font-size:10px;
            line-height: 30px;
            @extend %poppins-700;   
            position:relative; 
            &__img-l{
                left: -18px;
                position: absolute;
                bottom: -21px;
            }
            &__img-r{
                right: -19px;
                position: absolute;
                bottom: -11px;
            }
            }
            .icon{
            width: 185px;
            height: 2px;
            background-color: $title;
            position:absolute;
            }
    
        &::before{
            position: absolute;
            content:'';
            width: 250px;
            height: 3px;
            background-color: $title;
        }
        &::before{
            top:0;
        }
    }
    
    &__title{
        text-align:center;
        font-size:36px;
        line-height: 42px;
        @extend %dmsans-700;
        color:$title;
        margin-bottom:40px;
    }
    &__list{
        display:flex;
        justify-content:center;
    }
    &__items + .products__items{
        margin-left:30px;
    }

    &__items{
        border:none;
        background:transparent;
        outline:none;
        cursor:pointer;
        color:#8f8f8f;
        line-height: 26px;
        @extend %dmsans-400;
        transition:all .3s;
        &:hover{
        color:#343434;
        @extend %dmsans-400;
        outline:none; 
        }
    }

    &__item_price{
        color:$decor;
        line-height: 40px;
        @extend %dmsans-700;
    }

    &__inner{
        display:grid;
        max-width: 100%;
        min-height:380px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2,1fr);
        grid-gap:30px;
        margin-bottom:80px;
    }

    &__item-box{
        padding:15px;
        min-height:380px;
        background-color:#fff;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        background-repeat:no-repeat;
        background-position: center;
        position:relative;
        img{
            margin:40px auto 0;
            display:flex;
        }
        &:hover{
        .products__shopping{
            opacity:1;
        }
        }
    }
    

    &__item-info{
        display:flex;
        flex-direction: column;
        justify-self: center;
        margin:40px auto;
        max-width: 150px;
        position:absolute;
        bottom:0;
        left:0;
        right:0;
    }

    &__item-link{
        color:#343434;
        @extend %dmsans-700;
        text-align: center;
        sup{
            display:block;
            color:$decor;
        }
    }

    &__shopping{
        @extend %links__box;
    }


    &__shopping-link{
        @extend %link__item;
    }

    &__shopping-link:hover{
        background-color:$decor;
        .cls-1 {
         fill: #fff;
         fill-rule: evenodd;
        }
    }

    &__shop-img{
         transform: translateY(-26px);
         
    }
}

@media (max-width:1050px){
    .products{
        &__inner{
    display: grid;
    max-width: 100%;
    min-height: 220px;
    grid-gap: 10px;
    }
    &__item-box {
    min-height: 325px;
            img{
    margin: 20px auto 0;
            }
    }

    &__item-info{
            margin: 20px auto 0;
    }
}
}

@media (max-width:860px){
    .products{
        &__inner{
        max-width: 100%;
        min-height:380px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3,1fr);
        grid-gap:30px;
    }
    }
}

@media (max-width:550px){
    .products{
        &__inner{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
    &__mixitup-btn{
        display:flex;
        position:relative;
        z-index:10;
    }
    &__list{
            transform: translateX(-500%);
            position: absolute;
            width: 100%;
            top:-30px;
            left:0;
            flex-direction: column;
            align-items:center;
            z-index:5;
            transition:all .3s;
            padding: 110px 0 50px;
        &.products__list--active{
            transform: translateX(0);
            background-color:#fff;
            box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            transition:all .3s;
            }
    }
    &__items{
        padding-bottom: 28px;
        color:$title;
        font-size:22px;
        line-height: 32px;
        transition:all .3s;
        &:hover{
            background-color:$decor;
            color:#fff;
            width:100%;
            padding:16px;
        }
    }
    &__items + .products__items{
        margin-left:0;
    }
    }
}

@media (max-width:340px){
    .products{
        &__items{
        font-size:18px;
        line-height: 28px;
    }
    &__title{
        font-size:28px;
        line-height: 36px;
        margin-bottom:30px;
    }
    }
}
