.related{
        margin-bottom:110px;
    &-title{
        @extend %dmsans-700;
        font-size: 36px;
        color:$headertitle;
        margin-bottom: 80px;
    }

    &-slider{
        margin-left:-15px;
        transition:all .3s;
    }

    &-slider__img{
    height:175px;
    display: flex;
    justify-content: center;
    background-position: center;
}


    &-slider__item{
        max-width: 280px;
        padding: 30px;
        margin: 0 15px;
        height: 380px;
        object-fit: cover;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        background-color: #fefefe;
        position:relative;
        &:hover{
            .related-slider__links{
                opacity:1;
            }
        }

    }
    
    &-slider__links{
        @extend %links__box;
    }

    &-slider__link{
        @extend %link__item;
    }


    
    &-slider__info{
        display: flex;
        padding: 45px 0 25px;
        justify-content: center;
    }
    &-slider__item-link{
        @extend %dmsans-400;
        font-size: 16px;
        line-height: 40px;
        color:$headertitle;
        sup{
            @extend %dmsans-700;
            font-size: 16px;
            line-height: 40px;
            color:$decor;
            display:block;
            text-align: center;
        }
    }
}
.slider-arrows-one{
    position:absolute;
    z-index:9;
    width:50px;
    height: 50px;
    border:2px solid #edf1f4;
    background-color:#fff;
    top: -124px;
    right: 0;
    padding:14px;
    border-radius: 5px;
    &:hover{
        border:1px solid $decor;
        outline: none;
    }
}

.slider-arrows__left{
    right:70px;
}



.jq-checkbox {
    vertical-align: -4px;
    width: 14px;
    height: 14;
    margin: 0 4px 0 0;
    border: 1px solid rgb(195, 195, 195);
    background: #ececec;
    box-shadow: none;
    cursor: pointer;
    outline:none;

}

.jq-checkbox.focused{
    border: 1px solid rgb(195, 195, 195);
    outline:none;
}


@media (max-width:1050px){
    .related{


    &-slider__item{
        width: 100%;
        min-width:100%;
    }
    &-slider__img{
        height: auto;
    }
}
} 

@media (max-width:620px){

.slider-arrows-one {
    top: 372px;
    right: 0;
}
.slider-arrows__left {
    right: 70px;
}
.related-title{
    text-align: center;
}

} 